h1 {
    text-align: center;
    padding:40;
}

header {
    border: 1 solid #d2f03e;
    background-color: #4be3b0;
}
body {
    background-color: #AFBDB8;
}

footer {
    background-color: hotpink;
    padding:100;
}
h3 {
    font-family: Impact;
    background-color: #d2f03e;
    padding:100;
    text-align: center;
    text-emphasis-color: #d2f03e;
}
ul {
    text-align:center;
    background-color: #4be3b0;
}

p {
    text-align:center;
    background-color: #4be3b0;
}

.img-responsive {
  display: block;  
  margin-left: auto;
  margin-right: auto;

} 

/* button {
    background: hotpink;
    color: #000000;
    border: 3px solid hotpink;
    padding: 10px;
    font-size: 24px;
} */
button {
    background: hotpink;
    color: #000000;
    border: 3px solid hotpink;
    padding: 10px;
    font-size: 24px;
  }
  
  button:hover {
    color: #ffdd33;
    background: #191f19;
    cursor: pointer;
  }
  .middlepls {
    text-align: center;
  }